<style>
a {  color :blue ;  }
a:hover {  color :green; }
</style>
.holy-grail {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

header,
footer {
  flex: 0 0 60px;
  line-height: 60px;
  background-color: #7dbcea;
}

.holy-grail-body {
  display: flex;
  flex: 1;
}

.holy-grail-content {
  flex: 1;
  background-color: rgba(16, 142, 233, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.holy-grail-nav,
.holy-grail-ads {
  flex: 0 0 180px;
  background-color: #3ba0e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
